@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.cursor-blink {
  animation: blink 1s step-end infinite;
}

@theme {
  --animate-blink: blink 1s step-start infinite;
  @keyframes blink {
    from,
    to {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  --animate-wiggle: wiggle 1s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
